@import url(http://fonts.googleapis.com/css?family=Open+Sans);

        :root{
            --primary-color: #091429;
            --secondary-color: #0ABAB5;
            --dark-color: #262626;
            --light-color: #B1B1B1;
        }