 body {
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1em;
}

/* nav */

#container {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 5fr 1fr;
}

#container div {
  box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.1);
  height: 50px;
}

#container i {
  padding-top: 15px;
  color: #C4C4C4
}

#container p {
  justify-content: center;
  margin-top: 15px;
  font-style: normal;
  font-weight: bold;
  color: #323A43;
}

.cnc {
  border: none;
  background:rgba(207, 204, 204, 0.4);
  height: 50px;
  width: 100%;
  color: white
}

/* main section */

.main-section {
  margin: 50px auto;
  width: 50%;
}

.section1 {
  border: 1px solid #919191;
  box-sizing: border-box;
}

.section1 div {
  padding: 5px 20px;
}

#word h1 {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  color: #262626;
}

#word h5 {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #262626;
}

#glac h1 {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 41px;
  color: #262626;
  padding-top: 30px;
  margin-left: 50px;
}

div h3 {
  font-family: Ubuntu;
  font-style: bold;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 41px;
  color: #262626;
}

.bill p {
  font-size: 1em;
  padding-top: 10px;
  color: #262626;
}

.hour {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hours {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

   }

input {
  height: 30px;
  width: 50%;
  text-align: center;
  border: 1px solid;
}

.start {
  margin-left: 1px;
  width: 100%;
}

.end {
  margin-left: 50px;
  width: 100%;
}

i input {
  border: none;
  border-bottom: 1px solid;
  text-decoration: underline;
}

.sub {
  width: 90%;
}

.hour {
  display: grid;
  grid-template-columns: 1fr 1fr;
}



#currency {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: #262626;
  padding-bottom: 20px;
  
}

#currency p{
float: right;
padding-right: 10px;
}
select {
  border: none;
  border-bottom: 1px solid;
}

.btn {
  border: 1px solid #e4e4e4;
  background: rgba(207, 204, 204, 0.4);
  margin-top: 40px;
  margin-left: 30%;
  width: 40%;
  height: 60px;
  color: white;
  font-size:17px;
}

@media screen and (max-width: 1400px) {
  .start {
    margin-left: 80px;
    width: 100%;
  }
  .end {
    margin-left: 30px;
    width: 100%;
  }
}

@media screen and (max-width: 1102px) {
  .hours {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr;
  }
}

@media (max-width: 948px) {
  .hour, .hours {
    display: block;
  }
  .start {
    margin-left: 0px;
    width: 100%;
  }
  .end {
    margin-left: 0px;
    width: 100%;
  }
}
    
 @media (max-width: 600px) {
  .main-section {
  margin: 50px auto;
  width: 80%;
}
  
  
input {
   width: 80%;
  margin-bottom:10px;
 }
}

.text-center:hover{
color: black;
}

txt:hover{
  color: black;
}
