       .container {
         background: white;
         width: 100%;
         height: 100%;
         background-size: 200%;
       }
 
       .logo {
         font-family: 'pacifico', 'Ubuntu';
         font-size: 36px;
         display: block;
         text-align: left;
         padding-left: 40px;
         margin-top: 20px;
       }
 
       .logo a{
         text-decoration: none;
         color:#000;
       }
 
       .logo span {
           color: #0ABAB5;;
       }
 
       label{
         font-family: 'Ubuntu';
 
       }
 
       .login-form {
         padding: 30px;
         /* max-width: 380px; */
         max-width: 500px;
         max-height: 377px;
         margin: auto;
         background-color: white;
         border: 1px solid #C4C4C4;
         border-radius: 6px;
       }
 
       .login-form h4 {
         margin: 0;
         font-family: 'Ubuntu';
         font-size: 30px;
         text-align: center;
         color: #000000;
       }
 
       .login-form p {
         font-family: Ubuntu;
         font-size: 14px;
         color: #000000;
       }
 
       .form-block {
         
         position: relative;
         font-size: 14px!important;
         
       }
 
       
       .form-block input {
         display: block;
         width: 100%;
         margin-top: 10px;
         height: 40px;
         border: 1px solid #000000;
         border-radius: 8px;
         box-sizing: border-box;
         padding: 1.5rem;
 
       }
 
 
       .input-box {
         margin: 0;
         border-radius: 10px;
         padding: 10px;
         margin: 10px 0px;
         width: 100%;
         border: 2px solid #eaebed;
         outline: none;
 
       }
 
       .btn {
             background-color: #0ABAB5;;
             color: #ffffff;
             padding: 10px;
             outline: none;
             font-size: 16px;
             font-weight: bold;
             border: none;
             font-family: 'Ubuntu';
             cursor: pointer;
             border-radius: 5px;
             width: 100%;
           }
       .btn:active{
           opacity: 0.6;
           }
 
       p{
         text-align: right;
         margin-top: 5px;
       }

       h5{
         margin-left: 0px !important;
         font-size: 16px!important;
         font-family: 'Ubuntu';
         font-weight: normal;
         margin-bottom: 1rem;
       }
 
       @media only screen and (max-width: 678px) {
         .bg {
           background-size: 300%;
         }
       }
 
 h5{
   font-family: 'Ubuntu';
   font-size:16px;
   font-weight: normal;
   margin-top: 3px;
   margin-left: 15px;
 }
 